repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: debug-statements
      - id: trailing-whitespace
      - id: check-merge-conflict
      - id: check-json
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --extend-exclude, TCH]
      - id: ruff-format
  - repo: https://github.com/awslabs/cfn-python-lint
    rev: v1.24.0 # The version of cfn-lint to use
    hooks:
      - id: cfn-python-lint
        files: template.yaml$
