[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = {extras = ["jinja2"], version = "==0.37.2"}
jinja2 = "3.1.4"
mangum = "==0.17.0"
httpx = "0.27.0"
babel = "==2.15.0"
dateparser = "==1.2.0"
urllib3 = "<2"
ruff = "*"
typing-extensions = ">=3.7.4"
starlette-babel = "*"
dc-response-builder = {file = "https://github.com/DemocracyClub/dc_response_builder/archive/refs/tags/1.0.0.tar.gz"}
uk-election-timetables = "*"
certifi = "*"
sentry-sdk = {extras = ["starlette"], version = "*"}

[dev-packages]
uvicorn = "*"
pytest = "*"
respx = "*"
aws-sam-cli = "*"
ipdb = "*"
beautifulsoup4 = "*"
pydantic = {extras = ["email"], version = "<2"}
pydantic-factories = "*"
ruff = "0.4.10"
pytest-cov = "*"
coverage = {extras = ["toml"], version = "*"}
pytest-asyncio = "*"
pytest-playwright = "*"
pre-commit = "*"
freezegun = "*"
playwright = "==1.45.1"

[requires]
python_version = "3.12"

[scripts]
build_templates = "python lib/template_generator/generate_base_template.py"
