[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = {extras = ["jinja2"], version = "0.27.0"}
jinja2 = "3.1.2"
mangum = "==0.15.0"
httpx = "0.23.1"
babel = "==2.11.0"
dc-response-builder = {file = "https://github.com/DemocracyClub/dc_response_builder/archive/refs/tags/0.0.5.zip"}
dateparser = "==1.1.7"
sentry-sdk = {extras = ["starlette"], version = "*"}

[dev-packages]
uvicorn = "*"
black = "*"
pytest = "*"
respx = "*"
aws-sam-cli = "*"
ipdb = "*"
beautifulsoup4 = "*"
pydantic = {extras = ["email"], version = "*"}
pydantic-factories = "*"
ruff = "*"
pytest-cov = "*"
coverage = {extras = ["toml"], version = "*"}
pytest-asyncio = "*"
pytest-playwright = "*"
pre-commit = "*"

[requires]
python_version = "3.8"

[scripts]
black = "black ."
black-check = "black --check ."
pytest = "pytest"
ruff = "ruff --diff postcode_lookup lib/template_generator"
build_templates = "python lib/template_generator/generate_base_template.py"
