<details>
  <summary>{% trans %}What to do before you vote{% endtrans %}</summary>

  <div style="margin-top: 1em;">
    {% if section.context.list_items|length > 1 %}
      <ol>
        {% for item in section.context.list_items %}
          <li>{% include item %}</li>
        {% endfor %}
      </ol>
    {% else %}
      {% for item in section.context.list_items %}
        <p>{% include item %}</p>
      {% endfor %}
    {% endif %}

    {% for item in section.context.after_list_items %}
      <p>{% include item %}</p>
    {% endfor %}
  </div>

</details>
