<h3 id="{{ ballot.ballot_paper_id }}">{{ ballot.ballot_title }}{{ ballot|ballot_cancellation_suffix }}</h3>
{% if ballot.cancellation_reason.name == "CANDIDATE_DEATH" %}
    <h4>{% trans %}Postponed Election{% endtrans %}</h4>
    <p>
        {% trans initial_poll_date=ballot.poll_open_date|date_filter %}
            This election has been postponed due to the death of one of the candidates.
            A new election will be held within 35 working days of the initial election date
            ({{ initial_poll_date }}).
        {% endtrans %}
    </p>
{% endif %}

{% if ballot.cancellation_reason.name == "NO_CANDIDATES" %}
    <p>
        {% trans initial_poll_date=ballot.poll_open_date|date_filter %}
            No candidates stood for the available seats, so no election can be held.
            The election will be rescheduled and held within 35 days of the original polling day
            ({{ initial_poll_date }}).
        {% endtrans %}
    </p>
{% endif %}

{% if ballot.cancellation_reason.name == "EQUAL_CANDIDATES" %}
    <h4>{% trans %}Uncontested Election{% endtrans %}</h4>

    <p>
        {% trans initial_poll_date=ballot.poll_open_date|date_filter %}
            No election will be held because the number of candidates who stood
            was equal to the number of available seats. The following candidates will take up this position:
        {% endtrans %}
    </p>
    <ul>
        {% for candidate in ballot.candidates %}
            <li>{{ candidate.person.name }} ({{ candidate.party.party_name }})</li>
        {% endfor %}
    </ul>

{% endif %}

{% if ballot.cancellation_reason.name == "UNDER_CONTESTED" %}
    <p>
        {% trans initial_poll_date=ballot.poll_open_date|date_filter %}
            This election was postponed because the number of candidates who stood was fewer than the number of
            available seats. The election will be rescheduled and held within 35 days of the original polling day
            ({{ initial_poll_date }}).
        {% endtrans %}
    </p>
{% endif %}

{% if not ballot.cancellation_reason and ballot.metadata.cancelled_election %}
    {% if ballot.metadata.cancelled_election.title %}
        <h4>{{ ballot.metadata.cancelled_election.title }}</h4>
    {% endif %}
    {% if ballot.metadata.cancelled_election.detail %}
        <p>{{ ballot.metadata.cancelled_election.detail | nl2br }}</p>
    {% endif %}
    {% if ballot.metadata.cancelled_election.url %}
        <p><a href="{{ ballot.metadata.cancelled_election.url }}">Read more</a></p>
    {% endif %}
{% endif %}
