<style>
    :root {
        --ec-light-blue: #25B2D3;
        --ec-dark-blue: #002C57;
        --ec-purple: #6B528D;
        --ec-light-purple: #F2F0F3;
    }

    .dc-container {

        max-width: 80ch;
    }

    .dc-container * {
        margin-bottom: 0;
    }

    .dc-container > * + *, .ec-ds-section + .ec-ds-section, .ec-ds-section > * + * {
        margin-block-start: 2rem;
    }

    .dc-container :is(h1,h2,h3,h4) + :is(p,ul,details,figure,address,h2,h3,h4) {
        margin-block-start: 0.3em;
    }

    .dc-container :is(p,ul,figure,address) + :is(p,ul,figure,address) {
        margin-block-start: 1em;
    }

    .dc-container a {
        text-decoration: underline !important;
    }

    .dc-container a:hover {
        text-decoration: none !important;
    }

    .dc-container .BallotSection .candidate-list {
        list-style-type: none;
        margin: 1em 0;
        padding: 0;
    }

    .dc-container .BallotSection .candidate-list li + li {
        margin-top: 1em;
    }

    .dc-container details {
        padding: 1em 0;
        border-color: var(--ec-light-blue);
        border-style: solid;
        border-width: 1px 0;
        margin-right: 2em;


    }

    .dc-container details + details {
        margin-block-start: 0;
        border-top: none;
    }

    .dc-container details summary {
        cursor: pointer;
        font-size: 1.3rem;
        line-height: 1.4;
        font-weight: bold;
        list-style: none;
        margin-right: 1em;

    }

    .dc-container details summary::after {
        display: block;
        content: "";
        float: right;
        width: 1em;
        height: 1em;
        line-height: 2em;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38"><path d="M19 .25A18.75 18.75 0 1 0 37.75 19 18.77 18.77 0 0 0 19 .25zm0 36A17.25 17.25 0 1 1 36.25 19 17.27 17.27 0 0 1 19 36.25z" fill="var(--icon-circle)"></path><path d="M31 18.25H19.75V7.05a.75.75 0 0 0-1.5 0v11.2H7.05a.75.75 0 0 0 0 1.5h11.2V31a.75.75 0 1 0 1.5 0V19.75H31a.75.75 0 1 0 0-1.5z"></path></svg>') no-repeat right center;
        transition: transform 0.4s ease;
        margin-top: 0.2em;
    }

    .dc-container details[open] summary::after {
        transform: rotate(45deg);
    }

    .dc-container details[open] * {
        animation: animateDown 0.4s linear forwards;
    }

    @keyframes animateDown {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            transform: translatey(0);
        }
    }

    .dc-container .card {
        background-color: #ECF3F3;
        color: #076A6E;
        padding: 1.2em 2em 2em 2em;
    }

    .dc-container nav.page-nav {
        padding: 1em 0;
        border-color: var(--ec-light-blue);
        border-style: solid;
        border-width: 1px 0;
    }

    .dc-container nav.page-nav h2 {
        font-size: 1em;
    }

    .dc-container nav.page-nav ul {
        list-style-type: none;
        padding: 0;

    }

    .dc-container nav.page-nav ul li {
        line-height: 1.8em;
    }

    .dc-container nav.page-nav ul li ul {
        padding-left: 2em;
    }

    .dc-container hr {
        border: none;
        border-top: 1px solid var(--ec-light-blue);
        margin: 2rem 0;
    }

    body#dc .c-hero, body#dc .c-breadcrumb {
        background-color: var(--ec-purple);

    }

    body#dc .c-hero p {
        max-width: 50ch
    }

    body#dc .c-hero__wrapper.dc-background-image {
        background-image: url("/static/images/hero-people-outlines.png");
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: clamp(300px, 40vw, 550px);
    }

    @media (max-width: 950px) {
        body#dc .c-hero__wrapper.dc-background-image {
            background-image: none;
        }

        body#dc .c-hero p {
            max-width: 70ch
        }

        body#dc #dc-postcode-search-form {
            max-width: 70ch
        }
    }

    body#dc #dc-postcode-search-form {
        max-width: 50ch
    }

    body#dc #dc-postcode-search-form label {
        font-weight: bold;
    }

    body#dc #dc-postcode-search-form .dc-form-hint {
        font-size: 0.8rem;
        opacity: 70%;
    }

    body#dc form#dc-postcode-search-form .dc-inline-form {
        min-width: fit-content;
        display: flex;

    }

    body#dc form#dc-postcode-search-form .dc-inline-form button {
        padding: 1em;
        background-color: var(--ec-dark-blue);
        color: white;
    }

    body#dc form#dc-postcode-search-form .dc-inline-form input {
        padding: 1em;
        background-color: white;
        color: var(--ec-dark-blue);
        border: none;
        max-width: 50ch;
        min-width: 15ch;
        width: 100%;
    }

    body#dc form#dc-postcode-search-form .dc-inline-form *:focus,
    body#dc form#dc-postcode-search-form .dc-inline-form *:focus-visible {
        outline: 2px solid var(--ec-light-blue);
        outline-offset: -2px;
        box-shadow: none;
    }

    body#dc .grid {
        display: grid;
        padding: 0;
        grid-gap: var(--gridGap, 1.25rem);
        grid-template-columns: repeat(auto-fit, minmax(min(var(--gridCellMin), 100%), 1fr));
    }

    body#dc .grid li {
        list-style: none;
        background-color: var(--gridCellBG);
        padding: 1.25rem;
    }

    body#dc .dc-main-content {
        max-width: 1400px;
    }

</style>

<span style="display: none !important;"><span id="ec-voter-wizard-app"></span></span>
