{% if not date.all_cancelled %}
    <h3>{% trans %}Your polling station{% endtrans %}</h3>

    {% if date.date_data.polling_station.polling_station_known %}
        <p>
        <address>
            {{ date.date_data.polling_station.station.properties.address.replace("\n", "<br>")|safe }}<br>
            {{ date.date_data.polling_station.station.properties.postcode }}
        </address>
        </p>
    {% else %}
      {% if section.context.check_back_soon %}
        <p>
          {% trans %}
            Please check back closer to the time of the election to find out the address of your polling station.
          {% endtrans %}
        </p>
        <p>
          {% trans %}
            You'll also get a poll card in the post before the election. This will tell you where to vote.
          {% endtrans %}
          {% include "includes/contact_your_electoral_services.html" %}
        </p>
      {% else %}
        <p>
          {% trans %}
            You'll get a poll card in the post before the election. This will tell you where to vote.
          {% endtrans %}
          {% include "includes/contact_your_electoral_services.html" %}
        </p>
      {% endif %}
    {% endif %}
    <h4>{% trans %}Opening times{% endtrans %}</h4>
    {{ date.date_data.date|date_filter }} — {{ date.polling_station_opening_times_str }}
{% endif %}
