{# Since all of the content in this template is only relevant to the #}
{# City of London, we've agreed not to bother translating it into Welsh. #}
{# Given we don't need to translate it, we also don't need to wrap the #}
{# text in this template in trans tags. #}
{# That keeps it out of the .po file and avoids confusion. #}


{% if section.context.can_register_to_vote %}
  Make sure you have <a href="https://www.speakforthecity.com/">registered to vote</a>.

  City of London council elections do not use the same electoral register as other elections.

  Both residents and city workers are eligible to vote. There is one register
  published annually, and the deadline to apply is 30 November each year.
  The new register comes into force on 16 February each year,
  and cannot be modified after that date.
{% else %}
  Make sure you have <a href="https://www.speakforthecity.com/">registered to vote</a>.

  City of London council elections do not use the same electoral register as other elections.

  The deadline to register to vote in City of London local elections on {{ section.data.date|date_filter }}
  was {{ section.timetable.registration_deadline|date_filter }}.

  If you registered to vote before the deadline, then you will be able to vote in this election.
{% endif %}
