<section class="views-element-container" id="block-electoralcommission-views-block-related-content-taxonomy-related-2" aria-labelledby="block-electoralcommission-views-block-related-content-taxonomy-related-2-title">
    <div class="o-container__padding">

        <h2 id="block-electoralcommission-views-block-related-content-taxonomy-related-2-title">{% trans %}Related content{% endtrans %}</h2>

        <div>
            <div class="js-view-dom-id-acc178f2bd619faed56de3856cb485835e35b28a3820021585d2a1a943ef8141">
                <div class="l-grid horizontal l-grid--4-col l-grid--w-v-gutter">

                    {% for link in links %}
                      {% with
                          related_title=link.0,
                          related_url=link.1,
                          related_description=""
                      %}
                          {% include "includes/single_related_content.html" %}
                      {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
