<h2 id="date-{{ date.date_data.date }}">
    {{ date.date_data.date|date_filter }}{% if template_sorter.response_type.name == "ONE_CURRENT_BALLOT" %}:
        {{ date.date_data.ballots.0.ballot_title }}
    {% endif %}
</h2>

{% if date.uncancelled_ballot_count > 1 %}
    <p>
        {% trans count=date.uncancelled_ballot_count %}
            You will have {{ count }} ballot papers to fill out:
        {% endtrans %}
    </p>
    <ul>
        {% for ballot in date.date_data.ballots %}
            <li>{{ ballot.ballot_title }}{{ ballot|ballot_cancellation_suffix }}</li>
        {% endfor %}
    </ul>
{% else %}
    {% trans count=date.uncancelled_ballot_count %}
        You will have one ballot paper to fill out.
    {% endtrans %}
{% endif %}


{% for section in date.sections %}
    <section class="ec-ds-section {{ section.name }}" id="{{ section.toc_id }}">
        {% include section.template_name %}
    </section>
{% endfor %}
{% if template_sorter.response_type.name != "ONE_CURRENT_BALLOT" %}
<hr>
{% endif %}
