{% extends request.base_template %}

{% block page_title %}
    Pick your address
{% endblock %}

{% block language_picker %}
    {% with route_name = "postcode" %}
    {% include "includes/language_picker.html" %}
    {% endwith %}
{% endblock %}


{% block content %}
    <section class="container" aria-labelledby="polling-station-results">
        <div class="polling-station">
            <div class="polling-station__list">
                <h2>To make sure we get you the correct information, please pick your address:</h2>

                <ul class="links">
                    {% for address in api_response.addresses %}
                        <li><a href="{{ request.url_for(url_prefix + "_uprn_" + request.current_language, postcode=postcode, uprn=address.slug) }}" class="links__link"><span>{{ address.address }}</span></a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </section>
{% endblock %}
