{% extends request.base_template %}

{% block page_hero %}
{% endblock %}
{% block breadcrumbs %}
    {{ super() }}
    <div class="c-hero--landing-page c-hero" style="border-top:1px solid white;">
        <div class="o-container">
            <div class="c-hero__wrapper dc-background-image">
                <div class="c-hero__content">
                    <h1 class="c-hero__title">
                        {% trans %}My next election{% endtrans %}

                    </h1>
                    <p>{% trans %}
                        Enter your postcode to find out about voting in your next election. We'll tell you who's
                        standing, where your polling station is, and who to contact if you need
                        help.

                    {% endtrans %}</p>
                    <form id="dc-postcode-search-form">
                        <label for="postcode-search">
                            {% trans %}Enter your postcode{% endtrans %}</label>
                        <p class="dc-form-hint">eg. SW1A 2AA</p>
                        <p id="postcode-search-error-message" class="error_message">Please enter a valid UK postcode</p>
                        <div class="dc-inline-form">
                            <input
                                    id="postcode-search"
                                    type="text"
                                    name="postcode-search"
                                    pattern="^([A-Za-z]{1,2}[0-9][A-Za-z0-9]? ?[0-9][A-Za-z]{2}|GIR ?0AA) ?$"
                                    required>

                            <button type="submit" name="Submit Postcode"
                                    formaction="{{ request.url_for(url_prefix + "_postcode_" + request.current_language) }}">
                                Search
                            </button>


                        </div>
                    </form>
                    <script>
                        // Get the postcode input element
                        const postcodeInput = document.getElementById('postcode-search');

                        // Function to set custom validity message
                        postcodeInput.addEventListener('invalid', function (event) {
                            if (postcodeInput.validity.patternMismatch) {
                                postcodeInput.setCustomValidity('Please enter a valid UK postcode, e.g., SW1A 1AA.');
                            } else {
                                postcodeInput.setCustomValidity(''); // Clear custom messages if no pattern mismatch
                            }
                        });

                        // Clear custom validity message on input
                        postcodeInput.addEventListener('input', function () {
                            postcodeInput.setCustomValidity('');
                        });


                        // Function to get query parameter value by name
                        function getQueryParam(param) {
                            const urlParams = new URLSearchParams(window.location.search);
                            return urlParams.get(param);
                        }

                        // Function to handle error message display
                        function handleErrorDisplay(param, message = null) {
                            if (getQueryParam(param) === '1') {
                                // display error message
                                document.getElementById('dc-postcode-search-form').classList.add("error");
                                postcodeInput.setAttribute("aria-invalid", "true");
                                // optionally customize message text
                                if (message) {
                                    document.getElementById('postcode-search-error-message').innerHTML = message;
                                }
                            }
                        }

                        handleErrorDisplay('invalid-postcode');
                        handleErrorDisplay('api-error', "Sorry, there's a problem with this service at the moment. We're working to fix it as soon as possible.");

                        postcodeInput.addEventListener('input', function () {
                            if (postcodeInput.validity.valid) {
                                postcodeInput.setAttribute("aria-invalid", "false");
                            }

                        })

                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block language_picker %}
    {% with route_name = "postcode_form" %}
        {% include "includes/language_picker.html" %}
    {% endwith %}
{% endblock %}


{% block content %}
    <div class="dc-main-content">
        <h2>{% trans %}What this tool can tell you{% endtrans %}</h2>

        <ul class="grid" style="--gridCellMin: 40ch;--gridCellBG: var(--ec-light-purple)">
            <li>
                <h3>Which elections are happening in my area?</h3>
                <p>When you enter your postcode, you’ll find out which elections are coming up in your area. This
                    includes UK Parliamentary general elections, Scottish Parliament elections, Senedd elections, local
                    elections, mayoral elections,
                    Police and Crime Commissioner elections and by-elections.</p>
            </li>
            <li>
                <h3>Where is my polling station?</h3>
                <p>Your polling station might not be the same for every election. Check which polling station you need
                    to go to for the next election in your area.</p>
            </li>
            <li>
                <h3>What do I need to take with me when I vote?</h3>
                <p>Some elections might require you to take photo ID and some might not. When you enter your postcode,
                    you will find out if you need photo ID to vote in the elections coming up in your area.
                    You do not need to take your poll card to vote.</p>
            </li>
            <li>
                <h3>Who can I vote for?</h3>
                <p>Enter your postcode to find out who the candidates in your area are.</p>
            </li>

        </ul>


    </div>


{% endblock %}
