{% with postal = get_page_metadata(
    "/voting-and-elections/ways-vote/postal-voting",
    request.scope.current_language,
    template_sorter.country),
    proxy = get_page_metadata(
    "/voting-and-elections/ways-vote/apply-vote-proxy",
    request.scope.current_language,
    template_sorter.country)
%}

  {% if section.context.can_apply_for_postal_vote and section.context.can_apply_for_proxy_vote %}
    {% trans postal_url=postal.url, proxy_url=proxy.url %}
      If you need one, make sure you have applied for a
      <a href="{{ postal_url }}">
        postal</a>
      or
      <a href="{{ proxy_url }}">
      proxy</a>
      vote.
    {% endtrans %}
  {% elif section.context.can_apply_for_postal_vote %}
    {% trans url=postal.url %}
      If you need one, make sure you have applied for a
      <a href="{{ url }}">
        postal vote</a>.
    {% endtrans %}
  {% elif section.context.can_apply_for_proxy_vote %}
    {% trans url=proxy.url %}
      If you need one, make sure you have applied for a
      <a href="{{ url }}">
        proxy vote</a>.
    {% endtrans %}
  {% endif %}

{% endwith %}
