{% if not section.context.can_apply_for_postal_vote and not section.context.can_apply_for_proxy_vote %}
  {% with page = get_page_metadata(
      "/voting-and-elections/ways-vote/emergency-proxy-vote",
      request.scope.current_language,
      template_sorter.country)
  %}
    {% trans url=page.url %}
      The deadlines to apply for a postal vote or a proxy vote have now passed.
      In certain circumstances you may still be able to apply for an
      <a href="{{ url }}">emergency proxy vote</a>.
    {% endtrans %}
  {% endwith %}
{% elif not section.context.can_apply_for_postal_vote %}
  {% trans %}
    The deadline to apply to vote by post has now passed.
  {% endtrans %}
{% elif not section.context.can_apply_for_proxy_vote %}
  {% trans %}
    The deadline to apply to vote by proxy has now passed.
  {% endtrans %}
{% endif %}
