{% extends "base.html" %}

{% block html_meta %}

{% endblock %}

{% block content %}
    <!-- Do NOT remove the comment below as it's used in tests -->
    <!-- DC failover page -->
    <!-- end testing comment -->
    <h1>Try again later</h1>
    <p>Sorry, there's a problem with this service at the moment. We're working to fix it as soon as possible.</p>

{#    <p>Elections are taking place in England on 4 May 2023.#}
{#        If there's an election in your area, you should have received a poll card.#}
{#        This will tell you where your polling station is.</p>#}
{##}
{#    <p>Polling stations are open from 7am to 10pm on polling day.</p>#}

    <p>If you're voting at the polling station, you'll need to take photo ID with you.
        <a href="https://www.electoralcommission.org.uk/i-am-a/voter/voter-id/accepted-forms-photo-id">Find out more about this new requirement</a>.</p>
{% endblock %}
